#
# This is a modified rewrite to fit Anax when working on both local development
# environment and publishing to www.student.bth.se.
#
# Do NOT forget to change /~emsa16/ to your own student acronym.
#

#
# For images using CImage:
# Rewrite to have friendly urls to img.php, edit it to suite your environment.
#
#  img                 A directory where all images are stored
#  img/me.jpg          Access a image as usual.
#  image/me.jpg        Access a image though img.php using htaccess rewrite.
#  image/me.jpg?w=300  Using options to img.php.
#
# Subdirectories also work.
#  img/me/me.jpg          Direct access to the image.
#  image/me/me.jpg        Accessed through img.php.
#  image/me/me.jpg?w=300  Using options to img.php.
#

RewriteEngine on

# Igore real files (images, stylesheets etc.)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule (.*) - [NC,L]


# Rewrite 1 - For request via www.student.bth.se
RewriteCond %{HTTP_HOST} ^www\.student\.bth\.se$ [NC]
#RewriteRule ^image/(.*)$ /~emsa16/kod-exempel/anax-flat/htdocs/cimage/imgd.php?src=$1 [QSA,NC,L]
RewriteRule ^image/(.*)$ /~emsa16/dbwebb-kurser/design/me/anax-flat/htdocs/cimage/imgd.php?src=$1 [QSA,NC,L]

RewriteCond %{HTTP_HOST} ^www\.student\.bth\.se$ [NC]
#RewriteRule (.*) /~emsa16/kod-exempel/anax-flat/htdocs/index.php/$1 [NC,L]
RewriteRule (.*) /~emsa16/dbwebb-kurser/design/me/anax-flat/htdocs/index.php/$1 [NC,L]


# Rewrite 2 - For other requests
RewriteCond %{HTTP_HOST} !^www\.student\.bth\.se$ [NC]
RewriteRule ^image/(.*)$ cimage/imgd.php?src=$1 [QSA,NC,L]

RewriteCond %{HTTP_HOST} !^www\.student\.bth\.se$ [NC]
RewriteRule (.*) index.php/$1 [NC,L]
